/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.background-login {
	-fx-background-color: #1c495c
}

.button:hover {
	-fx-cursor: hand;
}

.text-field {
	-fx-background-color: transparent ;
	-fx-text-fill: white ;
}

.campo-de-busca {
	-fx-background-color: transparent ;
	-fx-text-fill: #f66d41 ;
}

.check-box-text {
	-fx-text-fill: white ;		
}

.check-box-text:hover {
	-fx-cursor: hand;	
}